h1 {font-size:15pt;}
h2 {color:black;border-left: 30px solid magenta; border-bottom: 3px solid magenta; margin-right:5%; padding-left: 10px; font-size:13pt;}
h3 {color:black;border-left: 30px solid cyan; margin-right:5%; padding-left: 10px; font-size:12pt;}
body {color:black;background:white; font-size:12pt; line-height: 170%;font-family: "游ゴシック","Yu Gothic", YuGothic, Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;font-weight: 500;}
p, td {font-size:12pt;}
b,strong{color:red}
A:link { color:#00A000; }
A:visited { color:#006000; }
A:active { color:red; }
A:hover {color: red; font-weight: bold}

#Top{
	width : 900px;
}
#Header{
	width: 900px;
}
#TopLeft{
	float: left;
	width: 300px;
}
#TopRight {
	float: left;
	width: 550px;
}
#Main {
	clear: both;
	width: 900px;
	margin-left: 20px;
}

.Youtube{ 
	text-align:center;
}